

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.top-padding {
    padding-top: 45px;
}

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form-centered
{
    display: inline-block;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
}

.panel, .toy-card {
    padding-right: 0;
    padding-left: 0;
}

.panel-body, .toy-card-body {
    padding-right: 15px;
    padding-left: 15px;
}

*, *:before, *:after {box-sizing:  border-box !important;}


.row {
 -moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: .5em;
 -webkit-column-gap: .5em; 
  
}

.panel {
 display: inline-block;
 margin:  .5em;
 padding:  0; 
 width:98%;
}

.toy-description, .panel-body 
p.price {
    font-size: 14pt;

}

.toy-description, .panel-body 
p.description {
    font-size: 10pt;
}

.avatar-img {
    max-width:50px;
}