@media (min-width: 768px) {
    .navbar-center
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
    }

    .form-centered
    {
        display: inline-block;
        text-align: center;
    }
}