<div class="top-padding">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" class="active"><a href="/user/selling">En Venta</a></li>
          <li role="presentation"><a href="/user/sold">Vendido</a></li>
          <li role="presentation"><a href="/user/searches">Búsquedas</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked" style="margin-top: 30px">
          <li role="presentation"><a href="/user/profile">Editar Perfil</a></li>
          <li role="presentation"><a href="/user/notifications">Notificaciones</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <p>Selling</p>
    </div>
</div>