<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top " style="padding-right: 20px">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-left" href="/"><img src="/assets/images/toyguay_logo.png" height="50px" alt="">ToyGuay</a>
    </div>
    
   <search-toys class="navbar-form navbar-center"></search-toys>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <ul class="nav navbar-nav navbar-right">
            <!-- MENU OPTIONS -->
            <li>
                <a href="/user/sell">Usuario</a>
            </li>
            <li>
                <a href="/toys/sell">Vender</a>
            </li>


            <!-- USER DATA -->
            <li ng-show="$ctrl.loginState.authenticated">
                <div style="display:table">
                    <img class="avatar-img img-circle" ng-src="{{$ctrl.loginState.loggedUserData.imageURL}}" alt="" style="margin:width:44px;display:table-cell;background-color: white">
                    <p style="display: table-cell;vertical-align: middle;padding-left: 5px; color:white">
                        <strong>{{$ctrl.loginState.loggedUserData.nick_name}}</strong>
                        <br>
                        <a ng-show="$ctrl.loginState.authenticated" ng-click="$ctrl.logout()" style="color:white;display: inline;">Logout</a>
                    </p>
                </div>
            </li>


            <!-- LOGIN BUTTON -->
            <li>
                <a ng-show="!$ctrl.loginState.authenticated" href="/login" >Login</a>
            </li>
        </ul>
    </div>
</nav>


<!-- MAIN CONTAINER -->
<div class="container-fluid">
    <ng-outlet></ng-outlet>
</div>
