<div class="container top-padding">

    
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre del Juguete">
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea type="text" class="form-control" id="descripcion" placeholder="Descripción" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Precio</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                        <div class="input-group-addon">€</div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6"></div>

        </div>
        

</div>
