<div class="container top-padding">

    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre del Juguete">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea type="text" class="form-control" id="descripcion" placeholder="Descripción" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Precio</label>
                <div class="input-group col-xs-4">
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                    <div class="input-group-addon">€</div>
                </div>
            </div>
            <button class="btn btn-primary">Poner a la Venta</btn>
        </form>
    </div>

    <div class="col-md-6">
        <img src="http://placehold.it/250x250?text=Upload Photo" alt="">
        <img src="http://placehold.it/250x250?text=Upload Photo" alt="">
        <p></p>
        <img src="http://placehold.it/250x250?text=Upload Photo" alt="">
        <img src="http://placehold.it/250x250?text=Upload Photo" alt="">
    </div>

</div>
