<form id="search" class="form-inline form-centered" ng-if="$ctrl.searcher.activated">
    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categoría <span class="caret">
            </button>
            <ul class="dropdown-menu dropdown-menu-left">
                <li><a class="dropdown-item" href="#">Categoría 1</a></li>
                <li><a class="dropdown-item" href="#">Categoría 2</a></li>
                <li><a class="dropdown-item" href="#">Categoría 3</a></li>
                <li role="separator" class="divider"></li>
                <li><a class="dropdown-item" href="#">Todas las categorias</a></li>
            </ul>
        </div>
        <span class="input-group-addon" ng-hide="!$ctrl.searchTerm" ng-click="$ctrl.doSearch($ctrl.searchTerm)">
            <i class="glyphicon glyphicon-search" ></i>
        </span>
        <input type="text" 
            class="form-control" 
            placeholder="Search toys"
            ng-model="$ctrl.searchTerm"
            ng-keyup="$ctrl.searchOnKeyUp($event)">
        <span class="input-group-addon btn-danger" ng-hide="!$ctrl.searchTerm" ng-click="$ctrl.searchTerm = ''; $ctrl.doSearch('')">
            <i class="glyphicon glyphicon-remove-sign" ></i>
        </span>
        <div class="input-group-btn">
            <button type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Distancia 
                <span class="caret">
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="#">1 Km</a></li>
                <li><a class="dropdown-item" href="#">10 Km</a></li>
                <li><a class="dropdown-item" href="#">30 Km</a></li>
                <li role="separator" class="divider"></li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
</form>