<form id="search" class="form-inline form-centered">
    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categoría <span class="label label-default">{{$ctrl.selectedCategory.name_es}}</span> <span class="caret">
            </button>
            <ul class="dropdown-menu dropdown-menu-left">
                <li ng-repeat="category in $ctrl.categories">
                    <a class="dropdown-item text-left" href="#" ng-click="$ctrl.selectCategory(category)">{{category.name_es}}</a>
                </li>
                <li role="separator" class="divider" ></li>

                <li><a class="dropdown-item" href="#" ng-click="$ctrl.quitCategoryFilter()">Quitar filtro categoria</a></li>
            </ul>
        </div>
        <span class="input-group-addon" ng-hide="!$ctrl.searchTerm" ng-click="$ctrl.search()">
            <i class="glyphicon glyphicon-search" ></i>
        </span>
        <input type="text"
            class="form-control"
            placeholder="Search toys"
            ng-model="$ctrl.searchTerm"
            ng-keyup="$ctrl.searchOnKeyUp($event)">
        <span class="input-group-addon btn-danger" ng-hide="!$ctrl.searchTerm" ng-click="$ctrl.searchTerm = ''; $ctrl.search()">
            <i class="glyphicon glyphicon-remove-sign" ></i>
        </span>
        <div class="input-group-btn">
            <button type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <span ng-if="$ctrl.selectedRadius" class="label label-default">{{$ctrl.selectedRadius}} KM</span> Distancia <span class="caret">
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="dropdown-item text-right" href="#" ng-click="$ctrl.selectRadius(1)" >1 Km</a></li>
                <li><a class="dropdown-item text-right" href="#" ng-click="$ctrl.selectRadius(10)">10 Km</a></li>
                <li><a class="dropdown-item text-right" href="#" ng-click="$ctrl.selectRadius(30)">30 Km</a></li>
                <li><a class="dropdown-item text-right" href="#" ng-click="$ctrl.selectRadius(1000)">1000 Km</a></li>
                <li role="separator" class="divider"></li>
                <li><a class="dropdown-item  text-right" href="#" ng-click="$ctrl.quitDistanceFilter()">Quitar filtro de distancia</a></li>
            </ul>
        </div>
    </div>
</form>